useDynLib(NScluster, .registration = TRUE)

importFrom("graphics", "abline", "par", "plot", "title", "legend", "axis",
           "points", "rect")
importFrom("stats", "coef", "quantile", "sd", "lm", "runif")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")

export(sim.cppm, mple.cppm, palm.cppm, boot.mple)

S3method(print, sim.cpp)
S3method(print, mple)
S3method(print, Palm)
S3method(plot, sim.cpp)
S3method(plot, mple)
S3method(plot, Palm)
S3method(coef, mple)
S3method(summary, mple)
S3method(summary, boot.mple)
