useDynLib(NScluster)

importFrom("graphics", "abline", "par", "plot", "title", "legend")

export(SimulateThomas, SimulateIP, SimulateTypeA, SimulateTypeB, SimulateTypeC,
       SimplexThomas, SimplexIP, SimplexTypeA, SimplexTypeB, SimplexTypeC,
       PalmThomas, PalmIP, PalmTypeA, PalmTypeB, PalmTypeC)

S3method(print, Simulate)
S3method(print, Simulate2)
S3method(print, Simplex)
S3method(print, Palm)
