useDynLib(NScluster, .registration = TRUE)

importFrom("graphics", "abline", "par", "plot", "title", "legend", "axis",
           "points", "rect")

export(SimulateThomas, SimulateIP, SimulateTypeA, SimulateTypeB, SimulateTypeC,
       EstimateThomas, EstimateIP, EstimateTypeA, EstimateTypeB, EstimateTypeC,
       PalmThomas, PalmIP, PalmTypeA, PalmTypeB, PalmTypeC)

S3method(print, Simulate)
S3method(print, Estimate)
S3method(print, Palm)
